<?xml version="1.0"?>
<root id="0">
<!--настройки сервера-->
<server>
    <lock_file>/run/mjgpg-cgi/lock</lock_file>
    <pid_file>/run/mjgpg-cgi/pid</pid_file>
    <user>alex</user>
    <group>www-data</group>
    <!--путь к файлу сокета-->
    <socket_path>/run/mjgpg-cgi/sock</socket_path>
    <!--количество ниток-->
    <children>10</children>

    </server>
</root>
