<?xml version="1.0"?>
<root id="0">
    <server>
        <lock_file>/tmp/mjgpg-cgi/lock</lock_file>
        <pid_file>/tmp/mjgpg-cgi/pid</pid_file>
        <user>alex</user>
        <group>www-data</group>
        <socket_path>/tmp/mjgpg-cgi/sock</socket_path>
        <children>7</children>
        <fps>0.5</fps>
        <buffersize>65536</buffersize>
        <indexFile>/home/alex/Projects/mjpeg-cgi/index.html</indexFile>
        <imagesDir>/home/alex/Projects/mjpeg-cgi/jpeg</imagesDir>

        <control_port>9999</control_port>

        <camera_port>20480</camera_port>
        <camera_ip>192.168.2.33</camera_ip>

        <rotator_ip>192.168.0.3</rotator_ip>

    </server>
</root>
