<?xml version="1.0"?>
<root id="0">
    <server>
        <lock_file>/tmp/mjpeg-cgi/lock</lock_file>
        <pid_file>/tmp/mjpeg-cgi/pid</pid_file>
        <user>alex</user>
        <group>www-data</group>
        <socket_path>/tmp/mjpeg-cgi/sock</socket_path>
        <children>7</children>
        <fps>25</fps>
        <buffersize>65536</buffersize>
        <indexFile>/home/alex/Projects/mjpeg-cgi/index.html</indexFile>
    </server>
    <camera>
        <ip>192.168.2.33</ip>
        <port>80</port>
        <stream_port>9999</stream_port>
        <alive_inteval>3</alive_inteval>
        <width>640</width>
        <height>480</height>
    </camera>
    <upnp>
        <listenIp></listenIp>
        <mediaServerName>V550628C30</mediaServerName>
        <searchDir>JPEG</searchDir>
    </upnp>
    <rotator>
        <!--tty>/dev/ttyO4</tty-->
        <tty>/dev/ttyUSB0</tty>
        <x>
            <speed>3</speed>
            <shift>2000</shift>
        </x>
        <y>
            <speed>3</speed>
            <shift>2000</shift>
        </y>
    </rotator>
</root>
