[Unit]
Description=A high performance cgi
After=network.target

[Service]
TimeoutStartSec=0
PIDFile=/run/mjpeg-cgi/pid
ExecStartPre=-/bin/rm -rf /run/mjpeg-cgi
ExecStartPre=-/sbin/wpa_cli -i wlan0 -B -a /etc/wpa_supplicant/wpa_cli.sh
ExecStartPre=-/bin/mkdir -p /run/mjpeg-cgi
ExecStartPre=/bin/chown www-data:www-data /run/mjpeg-cgi
ExecStart=/usr/sbin/mjpeg-cgi -c /etc/mjpeg-cgi/config.xml
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
